@import url('https://use.typekit.net/hvo8eed.css');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'garamond-premier-pro';
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.item__hero {
  width: 100%;
  height: 60vh;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  z-index: 100;
  position: absolute;
  left: 50px;
  top: 60px;
  transform: rotate(90deg);

  fill: white;
  width: 20px;

  &:hover {
    transition: 0.4s ease-out;
    transform: translateX(-3px) rotate(90deg);
  }

  .cls-1 {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
    fill-rule: evenodd;
  }
}

.item__hero--filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.item__hero--name {
  color: white;
  font-size: 64px;
  font-family: 'neuzeit-grotesk';
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  z-index: 10;
  letter-spacing: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 80px;
}

.wrapper__left {
  width: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.wrapper__right {
  width: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.item__container {
  background-color: #e5e9f2;
  height: 650px;
  width: 530px;
  padding: 56px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}

.item__border {
  position: absolute;
  z-index: 10;
  border: 4px solid #060e0a;
  height: 650px;
  width: 530px;
  transform: translate(-100px, -40px);
}

.item__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item__name {
  font-size: 48px;
  font-family: 'neuzeit-grotesk';
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin: 16px 0px;
}

.item__description {
  font-size: 22px;
  line-height: 35px;
  text-align: justify;
  max-width: 85%;
  font-weight: inherit;
  font-weight: 100;
}

.item__name--long {
  font-size: 45px;
  margin: 8px 0px;
}

.item__description--long {
  font-size: 20px;
  line-height: 35px;
}

.item__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item__colors {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }
}

.item__colors--container {
  display: flex;
  margin-top: 6px;
}

.item__colors--ex {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

.zego-black {
  background: #121314;
}

.zego-brown {
  background: #a36536;
}

.xerra-black {
  background: #121314;
}

.xerra-brown {
  background: #a36536;
}

.xerra-blue {
  background: #424686;
}

.xerra-red {
  background: #7c242c;
}

.kupela-black {
  background: #121314;
}

.kupela-brown {
  background: #a36536;
}

.kupela-blue {
  background: #424686;
}

.mihi-black {
  background: #121314;
}

.mihi-brown {
  background: #a36536;
}

.mihi-blue {
  background: #424686;
}

.mihi-red {
  background: #7c242c;
}

.item__dimensions {
  h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-align: left;
  }

  span {
    font-weight: 100;
    font-size: 20px;
  }
}

.item__pics--container {
  width: 480px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.item__pics--big {
  object-fit: cover;
  width: 100%;
  height: 388px;
  margin-bottom: 24px;
  cursor: pointer;
}

.item__pics--bottom {
  display: flex;
}

.item__pics--small:nth-child(1) {
  object-fit: cover;
  width: 228px;
  height: 238px;
  margin-right: 24px;
  cursor: pointer;
}

.item__pics--small:nth-child(2) {
  object-fit: cover;
  width: 228px;
  height: 238px;
  cursor: pointer;
}

.item__pics--dual {
  object-fit: cover;
  width: 100%;
  height: 312px;
  margin-bottom: 26px;
  cursor: pointer;
}

.item__pics--dual:nth-child(2) {
  margin-bottom: 0px;
}

.bag__composition {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: 'neuzeit-grotesk';
  margin: 60px 0px;
  width: 80%;
  text-align: center;

  h3 {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    align-self: center;
    margin-bottom: 16px;
  }

  h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    margin-top: 12px;
    span {
      font-weight: 700;
    }
  }
}

.item__order {
  margin-top: 40px;
  display: flex;
  align-self: center;
  align-items: center;
}

.item__line {
  border-top: 2px dotted rgba(0, 0, 0, 0.2);
  height: 1px;
  width: 300px;
}

.item__button {
  border: 1px solid #060e0a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  font-family: 'neuzeit-grotesk';
  font-weight: 100;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-out;
    color: white;
  }

  span {
    font-weight: 700;
    margin-left: 6px;
  }
}

.bag__shooting {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
  padding-bottom: 20px;
}

.bag__landscape {
  width: 1232px;
  object-fit: cover;
  height: 700px;
  margin-bottom: 32px;
  cursor: pointer;
}

.bag__portraits {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bag__portraits--item {
  width: 600px;
  object-fit: cover;
  height: 650px;
  margin-right: 32px;
  margin-bottom: 32px;
  cursor: pointer;
}

.bag__portraits--item:nth-child(2) {
  margin-right: 0px;
}

//responsive

@media (max-width: 1300px) {
  .item__container {
    height: 550px;
    width: 430px;
    padding: 40px 60px;
  }

  .item__border {
    border: 4px solid #060e0a;
    height: 550px;
    width: 430px;
    transform: translate(-100px, -20px);
  }

  .item__name {
    font-size: 38px;
    margin: 10px 0px;
  }

  .item__description {
    font-size: 21px;
    line-height: 28px;
    max-width: 85%;
  }

  .item__pics--container {
    width: 430px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .item__pics--big {
    object-fit: cover;
    width: 100%;
    height: 320px;
    margin-bottom: 24px;
    cursor: pointer;
  }

  .item__pics--bottom {
    display: flex;
  }

  .item__pics--small:nth-child(1) {
    object-fit: cover;
    width: 203px;
    height: 215px;
    margin-right: 24px;
    cursor: pointer;
  }

  .item__pics--small:nth-child(2) {
    object-fit: cover;
    width: 203px;
    height: 215px;
    cursor: pointer;
  }

  .item__pics--dual {
    object-fit: cover;
    width: 100%;
    height: 262px;
    margin-bottom: 26px;
    cursor: pointer;
  }

  .bag__portraits--item {
    width: 500px;
    object-fit: cover;
    height: 650px;
    margin-right: 32px;
  }

  .bag__landscape {
    width: 1032px;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
  }

  .wrapper__left {
    order: 2;
    width: 100%;
  }

  .wrapper__right {
    margin-bottom: 120px;
    order: 1;
    width: 100%;
  }

  .bag__portraits--item {
    width: 48%;
    object-fit: cover;
    height: 650px;
    margin-right: 32px;
  }
  .bag__landscape {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .item__container {
    height: 580px;
    width: 430px;
    padding: 40px 60px;
  }

  .overview {
    padding: 0px;
  }

  .item__border {
    border: 4px solid #060e0a;
    height: 580px;
    width: 430px;
    transform: translate(-100px, -20px);
  }

  .item__name {
    font-size: 38px;
    margin: 10px 0px;
  }

  .item__description {
    font-size: 21px;
    line-height: 28px;
    max-width: 85%;
  }

  .item__colors {
    margin-bottom: 24px;

    h4 {
      font-size: 18px;
    }
  }

  .item__dimensions {
    h4 {
      font-size: 18px;
    }

    span {
      font-size: 16px;
    }
  }

  .item__line {
    width: 150px;
  }

  .burger {
    font-size: 8px;
    margin-top: 5px;
    right: 0px;
  }

  .wrapper {
    padding: 0px;
  }

  .menu {
    top: 25px;
    right: 25px;
  }

  .arrow-left {
    top: 35px;
    left: 25px;
    width: 16px;
  }
}

@media (max-width: 550px) {
  .item__container {
    background-color: #e5e9f2;
    height: 550px;
    width: 420px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
  }

  .item__border {
    display: none;
  }

  .item__hero--name {
    font-size: 32px;
  }

  .item__description {
    font-size: 18px;
    line-height: 28px;
    max-width: 100%;
  }

  .item__colors {
    margin-bottom: 24px;

    h4 {
      font-size: 16px;
    }
  }

  .item__dimensions {
    h4 {
      font-size: 16px;
    }

    span {
      font-size: 16px;
    }
  }

  .wrapper__right {
    margin-bottom: 40px;
  }

  .bag__composition {
    width: 95%;
    margin-top: 60px;
    margin-bottom: 20px;

    h3 {
      font-weight: 700;
    }

    h4 {
      margin-bottom: 10px;
    }
  }

  .bag__shooting {
    padding: 60px 0px;
    padding-bottom: 0px;
  }

  .item__pics--container {
    width: 350px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .item__pics--small:nth-child(1) {
    width: 165px;
    margin-right: 20px;
  }
  .item__pics--small:nth-child(2) {
    width: 165px;
  }
  .item__line {
    width: 40px;
  }
  .bag__portraits {
    flex-direction: column;
  }
  .bag__portraits--item {
    width: 100%;
    object-fit: cover;
    height: 650px;
    margin-right: 0px;
  }

  .item__button {
    padding: 10px 32px;
    font-size: 12px;

    span {
      font-weight: 700;
      margin-left: 6px;
    }
  }
}
