@import url('https://use.typekit.net/hvo8eed.css');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'garamond-premier-pro';
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.landing__hero {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bihotz {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 20;
  svg {
    width: 500px;
  }
}

.arrow-down {
  z-index: 20;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  animation: hint 1s ease-out;
  animation-iteration-count: 3;

  fill: white;
  width: 30px;

  .cls-1 {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
    fill-rule: evenodd;
  }
}

.arrow-down:hover {
  transition: 0.4s ease-out;
  transform: translateY(6px);
}

.landing__hero--filter {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.main-wrapper {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 120px 16px;
}

.overview {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.overview__heading {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 500px;
  margin-right: 40px;
  box-sizing: border-box;

  h3 {
    color: #060e0a;
    font-size: 16px;
    margin: 0;
    align-self: flex-start;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: 'neuzeit-grotesk';
    font-weight: 400;
  }

  h2 {
    color: #060e0a;
    font-size: 35px;
    line-height: 50px;
    margin: 0;
    align-self: flex-start;
    text-align: left;
    margin: 24px 0px;
    font-family: 'neuzeit-grotesk';
    font-weight: 400;
    max-width: 500px;
  }
}

.overview__follow {
  margin-top: 32px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 16px;
  font-family: 'neuzeit-grotesk';
  font-weight: 400;
}

.overview__SM {
  display: flex;
}

.overview__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;

  h3 {
    color: #060e0a;
    font-size: 16px;
    margin: 0;
    align-self: flex-start;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: 'neuzeit-grotesk';
    font-weight: 400;
  }

  p {
    font-size: 25px;
    line-height: 35px;
    text-align: justify;
    margin: 0px;
    font-family: 'garamond-premier-pro';
    font-weight: 300;
  }

  .overview__text--first {
    margin-bottom: 40px;
  }
}

.overview__insta {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.overview__fb {
  width: 30px;
  height: 30px;
}

.heading {
  align-self: flex-start;
  max-width: 600px;
  margin: 70px 0px;
  h1 {
    font-size: 48px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 60px;
    font-family: 'neuzeit-grotesk';
    font-weight: 700;
  }
}

.underline {
  width: 140px;
  height: 20px;
  background: black;
  margin-top: 16px;
}

.bags {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 120px 0px;
  box-sizing: border-box;
}

.bags__left {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  box-sizing: border-box;
}

.bags__right {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  box-sizing: border-box;
  padding-top: 300px;
}

.bag__container {
  width: 500px;
  box-sizing: border-box;
  margin-bottom: 400px;
}

.bag__image {
  width: 500px;
  height: 550px;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}

.bagimg__wrap {
  width: 500px;
  height: 550px;
  position: relative;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 500px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.bag__border {
  position: absolute;
  left: 7%;
  transform: translateY(-600px);
  z-index: 10px;
  height: 543.68px;
  width: 419.68px;
  border: 3.68px solid #cbe3c5;
}

.bag__border--down {
  position: absolute;
  left: 7%;
  transform: translateY(-530px);
  z-index: 10px;
  height: 543.68px;
  width: 419.68px;
  border: 3.68px solid #cbe3c5;
}

.bag__text {
  margin-top: 40px;
  display: flex;
  width: 100%;
  align-items: center;
}

.bag__line {
  border-left: 1px solid black;
  height: 60px;
  margin-right: 40px;
}

.bag__infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bag__name {
  margin: 0;
  font-family: 'neuzeit-grotesk';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 27px;
  margin-bottom: 8px;
}

.bag__description {
  font-size: 23px;
  font-family: 'garamond-premier-pro';
  text-align: left;
}

.xerra {
  margin-bottom: 0px;
}

.mihi {
  margin-bottom: 0px;
}

.footer {
  width: 100%;
  background-color: #cbe3c5;
  box-sizing: border-box;
  padding: 24px 16px;
}

.footer__container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer__name {
  margin: 0px;
  font-family: 'neuzeit-grotesk';
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 4px;
  text-align: center;

  span {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__SM {
  display: flex;
  margin: 0px;
  margin-bottom: -5px;

  .footer__insta {
    width: 16px;
    height: 16px;
  }
  .footer__fb {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
}

.footer__mail {
  letter-spacing: 2px;
  font-size: 13px;
  font-family: 'neuzeit-grotesk';
  text-transform: uppercase;
  margin: 0px;
  margin-top: 4px;
}

.footer__boss {
  font-size: 14px;
  margin: 0px;
  font-family: 'neuzeit-grotesk';
  margin-top: 6px;

  a {
    font-weight: 700;
  }
}

.movein {
  transform: translate(20px, -610px);
  transition: all 1s;
}

.moveout {
  transform: translate(0px, -600px);
  transition: all 1s;
}

.movein2 {
  transform: translate(10px, -510px);
  transition: all 1s ease-out;
}

.moveout2 {
  transform: translate(0px, -530px);
  transition: all 1s ease-out;
}

.scale {
  transform: scale(1.05);
  transition: all 0.4s ease-out;
}

.remscale {
  transform: scale(1);
  transition: all 0.4s ease-out;
}

.offset {
  //animation: float 4s infinite ease-out;
  transform: translate(0px, -10px);
  transition: all 2s ease-out;
}

.remoffset {
  transform: translate(0px, 0px);
  transition: all 0.4s ease-out;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.burger.burger-squeeze {
  .burger-lines {
    &,
    &:after,
    &:before {
      transition: 0.2s top 0.2s, 0.1s left, 0.2s transform, 0.4s background-color 0.2s;
    }
    &:after,
    &:before {
      width: 2em;
    }
  }

  &.open {
    .burger-lines {
      &,
      &:after,
      &:before {
        transition: 0.2s background-color, 0.2s top, 0.2s left, 0.2s transform 0.15s;
      }
      & {
        background-color: transparent;
      }
      &:before,
      &:after {
        left: 0.5em;
        top: 0px;
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}

.menu__container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.menu__bags {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .menu__link {
    color: white;
    font-size: 52px;
    margin-bottom: 24px;
    font-family: 'neuzeit-grotesk';
    font-weight: 700;
    text-align: center;
    position: relative;
    animation: reveal 0.4s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .menu__link:nth-child(2) {
    animation-delay: 300ms;
  }

  .menu__link:nth-child(3) {
    animation-delay: 500ms;
  }
  .menu__link:nth-child(4) {
    animation-delay: 700ms;
  }
  .menu__link:nth-child(5) {
    animation-delay: 900ms;
  }
}

.menu__social {
  display: flex;
  width: 300px;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: 'neuzeit-grotesk';
  font-weight: 700;
  font-size: 24px;
  margin-top: 80px;
}

@media (max-width: 1300px) {
  .bihotz {
    svg {
      width: 400px;
    }
  }

  .arrow-down {
    width: 25px;
  }

  .main-wrapper {
    width: 1100px;
    padding: 120px 16px;
  }

  .overview__heading {
    width: 50%;
    min-width: 450px;
    margin-right: 40px;

    h3 {
      font-size: 14px;
    }

    h2 {
      font-size: 32px;
      margin: 24px 0px;
      max-width: 450px;
    }
  }

  .overview__follow {
    font-size: 14px;
  }

  .overview__text {
    width: 50%;

    h3 {
      font-size: 14px;
    }

    p {
      font-size: 22px;
    }
  }

  .overview__insta {
    width: 25px;
    height: 25px;
    margin-right: 16px;
  }

  .overview__fb {
    width: 25px;
    height: 25px;
  }

  .heading {
    align-self: flex-start;
    max-width: 400px;
    margin: 70px 0px;
    h1 {
      font-size: 44px;
      line-height: 55px;
    }
  }

  .bags__left {
    width: 400px;
  }

  .bags__right {
    width: 400px;
    padding-top: 250px;
  }

  .bag__container {
    width: 400px;
    box-sizing: border-box;
    margin-bottom: 300px;
  }

  .bag__image {
    width: 400px;
    height: 450px;
  }

  .bagimg__wrap {
    width: 400px;
    height: 450px;

    img {
      object-fit: cover;
      width: 400px;
      height: 100%;
    }
  }

  .bag__border {
    position: absolute;
    left: 7%;
    transform: translateY(-500px);
    z-index: 10px;
    height: 443.68px;
    width: 319.68px;
    border: 3.68px solid #cbe3c5;
  }

  .bag__border--down {
    position: absolute;
    left: 7%;
    transform: translateY(-430px);
    z-index: 10px;
    height: 443.68px;
    width: 319.68px;
    border: 3.68px solid #cbe3c5;
  }

  .bag__name {
    font-size: 24px;
  }

  .bag__description {
    font-size: 18px;
  }

  .mihi,
  .xerra {
    margin-bottom: 0px;
  }

  .footer__container {
    width: 1100px;
  }

  .movein {
    transform: translate(20px, -520px);
    transition: all 1s;
  }

  .moveout {
    transform: translate(0px, -500px);
    transition: all 1s;
  }

  .movein2 {
    transform: translate(10px, -410px);
    transition: all 1s ease-out;
  }

  .moveout2 {
    transform: translate(0px, -430px);
    transition: all 1s ease-out;
  }
}

@media (max-width: 1100px) {
  .main-wrapper {
    width: 100%;
    padding: 70px 16px;
  }

  .overview {
    padding: 0px 32px;
    padding-bottom: 100px;
  }

  .footer__container {
    width: 100%;
  }

  .overview__heading {
    width: 50%;
    min-width: auto;
    margin-right: 0px;

    h3 {
      font-size: 12px;
      margin-bottom: 16px;
    }

    h2 {
      font-size: 26px;
      margin-top: 16px;
      max-width: auto;
      line-height: 38px;
      margin-bottom: 16px;
    }
  }

  .overview__follow {
    font-size: 12px;
    margin-top: 30px;
  }

  .overview__text {
    width: 50%;
    min-width: auto;

    h3 {
      font-size: 12px;
      margin-bottom: 28px;
    }

    p {
      font-size: 18px;
      line-height: 32px;
    }
  }

  .heading {
    align-self: flex-start;
    max-width: 350px;
    margin: 70px 0px;
    margin-top: 24px;
    margin-left: 30px;
    h1 {
      font-size: 42px;
      margin: 0;
      text-align: left;
      text-transform: uppercase;
      line-height: 52px;
      font-family: 'neuzeit-grotesk';
      font-weight: 700;
    }
  }

  .underline {
    width: 140px;
    height: 20px;
    background: black;
    margin-top: 16px;
  }

  .bag__container {
    margin-bottom: 200px;
  }

  .mihi,
  .xerra {
    margin-bottom: 0px;
  }
}

@media (max-width: 900px) {
  .overview {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .overview__heading {
    width: 70%;
  }

  .overview__text {
    width: 70%;
    margin-top: 80px;
  }

  .overview__follow {
    font-size: 12px;
    margin-top: 10px;
  }

  .bags {
    flex-direction: column;
    align-items: center;
  }

  .bags__right {
    padding: 0px;
  }

  .bag__container {
    margin-bottom: 100px;
  }

  .xerra {
    margin-bottom: 0px;
  }

  .footer {
    padding: 40px 12px;
  }

  .footer__container {
    flex-direction: column;
  }
  .footer__right {
    margin-top: 40px;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .bihotz {
    svg {
      width: 200px;
    }
  }
  .overview__heading {
    width: 100%;
  }

  .overview__text {
    width: 100%;
    margin-top: 80px;
  }

  .heading {
    align-self: flex-start;
    max-width: 350px;
    margin: 70px 0px;
    margin-top: 24px;
    margin-left: 0px;
    h1 {
      font-size: 36px;
      margin: 0;
      text-align: left;
      text-transform: uppercase;
      line-height: 45px;
      font-family: 'neuzeit-grotesk';
      font-weight: 700;
    }
  }

  .underline {
    width: 140px;
    height: 15px;
    background: black;
    margin-top: 16px;
  }

  .bag__name {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .bag__line {
    border-left: 1px solid black;
    height: 70px;
    margin-right: 30px;
  }

  .bags__left,
  .bags__right {
    width: 100%;
  }

  .menu__bags .menu__link {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'neuzeit-grotesk';
    font-weight: 700;
    text-align: center;
    position: relative;
    animation: reveal 0.4s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .footer__name {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .bag__container {
    width: 300px;
    box-sizing: border-box;
  }

  .bag__image {
    width: 300px;
    height: 350px;
  }

  .bagimg__wrap {
    width: 300px;
    height: 350px;

    img {
      object-fit: cover;
      width: 300px;
      height: 100%;
    }
  }

  .bag__border {
    position: absolute;
    left: 8%;
    transform: translateY(-390px);
    z-index: 10px;
    height: 343.68px;
    width: 249.68px;
    border: 3.68px solid #cbe3c5;
  }

  .bag__border--down {
    position: absolute;
    left: 8%;
    transform: translateY(-330px);
    z-index: 10px;
    height: 343.68px;
    width: 249.68px;
    border: 3.68px solid #cbe3c5;
  }
}

//menu

.hidden-menu {
  display: none;
  position: absolute;
  overflow: hidden;
  background: black;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 90;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 101;
}

//test

.show {
  display: flex;
  animation: Down 0.71s cubic-bezier(0.23, 1, 0.32, 1);
}

.disable {
  overflow: hidden;
}

@media (min-width: 700px) {
  .menu__link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    margin-top: 3px;
    transition: width 0.3s;
    position: absolute;
  }
  .menu__link:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}

@keyframes Down {
  0% {
    transform: translateY(-1200px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    color: black;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    color: white;
    transform: translateY(0px);
  }
}

@keyframes hint {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0px);
  }
}
